.create-modal-form {
  font-family: "DM Sans";
  padding: 1rem 2rem;
  max-width: 100%;
}

.create-modal-form label {
  display: block;
  margin-top: 1rem;
  color: #00505d;
}

.create-modal-form > div {
  width: 100% !important;
}

.submit-buttons {
  margin-top: 1rem;
}
